@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@100;300&display=swap");
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.about-us__image {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  align-items: center;
}

.about-us__heading {
  font-size: 2.5rem;
  margin-bottom: 25px;
  align-self: flex-start;
  margin-left: 14%;
  font-size: 60px;
  font-family: "Playfair Display", serif;
}

.about-us__text {
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 800px;
  margin-bottom: 25px;
  color: rgb(79, 75, 75);
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
  margin-left: 14%;
}

html * {
  font-family: "Roboto", sans-serif;
}
