.contact-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-first-div {
  background-color: #e0e0e0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-second-div {
  background-color: white;
  box-sizing: border-box;
  width: 450px;
  height: 250px;
}

.contact-second-div > h3 {
  padding: 22px;
  padding-left: 40px;
}
.contact-second-div p {
  padding-left: 40px;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(50, 41, 41);
}

.open-form-button {
  width: 80%;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 40px;
  padding: 15px;
  background-color: white;
  border: 1px solid rgb(177, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-form-button:hover {
  background-color: #d0d2d5;
}

/*-----pop up css start from here------*/
.form_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_popup {
  background-color: #fff;
  width: 30%;
  height: 45%;
}

.form_pop_up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_pop_up input,
textarea {
  width: 70%;
  margin-bottom: 20px;
  outline-style: initial;
}

.pop_up_heading {
  font-weight: bolder;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#message,
#email,
#name {
  border: none;
  border-bottom: 1px solid black;
  /* background-color: #dee3ea; */
  padding: 4px;
}

#message {
  resize: none;
}

#pop_up_submit {
  width: 100px;
  margin-right: 50%;
  padding: 10px 2px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.pop_up_close {
  position: relative;
  left: 90%;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
